/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "variable";

@include keyframes(menuScale) {
    from {
        @include transform(scale(0.8));
    }
    to {
        @include transform(scale(1));
    }
}
@include keyframes(showChapter1) {
    from {
        @include transform(translate(0px,-40px));
    }
    to {
        @include transform(translate(0px,0px));
    }
}
@include keyframes(closeChapter1) {
    from {
        @include transform(translate(0px,0px));
    }
    to {
        @include transform(translate(0px,-40px));
    }
}
body {
    width: $wrap-width;
    margin: 0 auto;
    font-size: 0;
    font-family: "SimHei";
    background-color: #bdbdbd;
    @include transition(all 1s ease-in-out 0s);
}

.XYCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
#nav{
    position: fixed;
    left: 40px;
    top: 40px;
}
#menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #6cbfef;
    width: 50px;
    height: 50px;
    @include border-radius(50%);
    @include animation(menuScale 0.5s ease-in-out infinite alternate);
    cursor: pointer;
    z-index:12;
    img {
        width: 50%;
        height: 50%;
    }
}
.table-contents{
    position: relative;
    @include transform(translate(0px,60px));
    @include transition(all 0.5s ease-in-out 0s);
    
    .angle{
        position:absolute;
        top:-20px;
        left:15px;
        @include transition(all 0.5s ease-in-out 0s);
        .outer{
            position: absolute;
            width: 0;
            height: 0;
            top: 4px;
            left: 2px;
            display: block;
            border-bottom: 8px solid #fff;
            border-top: 8px solid transparent;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            z-index: 3;
        }
        .inner{
            position: absolute;
            width: 0;
            height: 0;
            display: block;
            border-bottom: 10px solid rgba(0,0,255,0.4);
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
    }
    >li:nth-child(2){
        span{
            color:#0084C7;
        }
        @include border-radius(5px 5px 0 0);
        li:hover{
            background-color:#0084C7;
        }
    }
    >li:nth-child(3){
        span{
            color:#E60000;
        }
        li:hover{
            background-color:#E60000;
        }
    }
    >li:nth-child(4){
        span{
            color:#FFB31A;
        }
        li:hover{
            background-color:#FFB31A;
        }
    }
    >li:nth-child(5){
        span{
            color:#00934B;
        }
        li:hover{
            background-color:#00934B;
        }

    }
    >li:nth-child(6){
        span{
            color:#A1347D;
        }
        li:hover{
            background-color:#A1347D;
        }
    }
    >li:nth-child(7){
        span{
            color:#66CCFF;
        }
        @include border-radius(0 0 5px 5px);
        li:hover{
            background-color:#66CCFF;
        }
    }
    @at-root{
        .chapter{
            cursor:pointer;
            padding:10px 20px;
            background-color:#fff;
            border-bottom:1px solid #bdbdbd;
            z-index:10;
            @include transition(all 0.5s ease-in-out 0s);
            &:hover{
                padding:10px 10px 10px 30px;
            }
            img{
                width:50px;
                margin-right:10px;
                vertical-align:middle;
                @include inline-block;
                @include border-radius(50%);
            }
            span{
                font-size:20px;
                vertical-align:middle;
                font-weight:bold;
                @include inline-block;
            }
        }
        .title-content{
            position:absolute;
            top:0;
            @include left-calc(0px);
            width:100%;
            @include box-shadow(0px 0 0px blue);
            z-index:8;
            @include transition(all 0.5s ease-in-out 0s);
            @include opacity(0);
            li{
                font-size:16px;
                line-height:25px;
                padding:10px 20px;
                border-bottom:1px solid #bdbdbd;
                background-color:#fff;
                // @include transform(translate(-100%,-46px));
                // @include transition(all 0.5s ease-in-out 0s);
            }
            li:first-child{
                @include border-corner-radius(top,right,5px);
            }
            li:last-child{
                @include border-corner-radius(bottom,right,5px);
            }
        }
    }
}
.table-contents-show{
    @include box-shadow(0 0 5px blue);
    @include border-radius(5px);
    .angle{
        @include opacity(1);
    }
    .chapter{
        @include opacity(1);
        @include transform(translate(0,0));
        &:hover{
            >ul {
                @include box-shadow(0 0 5px blue);
                @include left-calc('100% + 1px');
                @include opacity(1);
                // li{
                //     @include transform(translate(0,0));
                // }
            }        
        }
    }
}
.table-contents-hidden{
    .angle{
        @include opacity(0);
    }
    li{
        pointer-events:none;
    }
    li:nth-child(2){
        @include content-chapter-animation(1);
    }
    li:nth-child(3){
        @include content-chapter-animation(2);
    }
    li:nth-child(4){
        @include content-chapter-animation(3);
    }
    li:nth-child(5){
        @include content-chapter-animation(4);
    }
    li:nth-child(6){
        @include content-chapter-animation(5);
    }
    li:nth-child(7){
        @include content-chapter-animation(6);
    }
}
.content-wrap {
    width: $wrap-width;
    margin: 0 auto;
    li {
        img {
            width: 100%;
        }
    }
}
